body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.facet-result-container{
  display: flex;
}

.facet{
  flex:1;
}

.results-pagination{
  flex:4;

}

.pager-resultsPerPage{
  padding-top: 5%;
  padding-right: 2%;
  padding-bottom: 7%;
  display: flex;
  justify-content:space-between;

}

.result-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.result-box{
  width:20%;
  height:20rem;
  margin:1rem;
}